body {
    background-color: rgb(16, 16, 16);
}
h1 {
    text-align: center;
    color: white;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

.container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 350px;
    height: 420px;
    gap: 5px;
    margin: auto;
}

.box {
    border : 2px solid rgb(56, 54, 54);
    color: white;
    font-size:50px;
    text-align: center;
}

